# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/pnpm-debug.log*

# Vite / React build output
**/dist/
**/build/

# Python / Django
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# virtual envs
**/env/
**/venv/
**/.venv/

# env files and secrets
**/.env
**/*.env

# Django local DB
**/db.sqlite3
**/*.sqlite3

# Logs
logs/
**/*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db