.section-heading {
  text-align: center;
  margin: 50px;
  
}

.section-heading h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  /* font-family: "Krona One"; */
}

.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: #003399;
}


/* ------------------------------------------------------------------------------------- */
